<div class="recruiter-sidebar">
    <nav class="nav-menu">
        <ul>
            <li><a routerLink="/recruiter-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="ri-dashboard-line"></i>Dashboard</a></li>
            <li><a routerLink="/recruiter-dashboard/post-job" routerLinkActive="active"><i class="ri-add-circle-line"></i>Post a Job</a></li>
            <li><a routerLink="/recruiter-dashboard/manage-jobs" routerLinkActive="active"><i class="ri-file-list-line"></i>Manage Jobs</a></li>
            <li><a routerLink="/recruiter-dashboard/applicants" routerLinkActive="active"><i class="ri-user-line"></i>Applicants</a></li>
            <li><a routerLink="/recruiter-dashboard/interviews" routerLinkActive="active"><i class="ri-questionnaire-line"></i>Entretien</a></li>
            <li><a routerLink="/recruiter-dashboard/messages" routerLinkActive="active"><i class="ri-chat-1-line"></i>Messages</a></li>
            <li><a routerLink="/recruiter-dashboard/profile" routerLinkActive="active"><i class="ri-building-line"></i>Company Profile</a></li>
            <li><a routerLink="/recruiter-dashboard/change-password" routerLinkActive="active"><i class="ri-lock-line"></i>Change Password</a></li>
        </ul>
    </nav>
</div>
