<div class="navbar-area navbar-expand-lg">
    <div class="container-fluid">
        <nav class="navbar">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" alt="Jove Logo">
            </a>

            <!-- Toggle button for mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu items (centered) -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Home</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Home 1</a>
                            <a class="dropdown-item" href="#">Home 2</a>
                            <a class="dropdown-item" href="#">Home 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Jobs</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Grid</a>
                            <a class="dropdown-item" href="#">Listing</a>
                            <a class="dropdown-item" href="#">Details</a>
                            <a class="dropdown-item" href="#">Categories</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Employers</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Employers Listing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Candidates</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Candidates Grid</a>
                            <a class="dropdown-item" href="#">Candidates Listing</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Search bar and icons -->
            <div class="others-option">
                <!-- Search -->
                <div class="option-item">
                    <div class="search-box">
                        <input class="input-search" type="text" placeholder="Search....">
                        <button type="submit"><i class="ri-search-line"></i></button>
                    </div>
                </div>

                <!-- Messages icon -->
                <div class="option-item">
                    <a href="#" class="message-icon">
                        <i class="ri-mail-line"></i>
                        <span>2</span>
                    </a>
                </div>

                <!-- Notifications icon -->
                <div class="option-item">
                    <a href="#" class="notification-icon">
                        <i class="ri-notification-3-line"></i>
                        <span>1</span>
                    </a>
                </div>

                <!-- Account dropdown -->
                <div class="option-item dropdown">
                    <button class="dropdown-toggle" type="button">
                        <div>
                            <img src="/images/users/user1.png" alt="User">
                        </div>
                        My Account
                        <i class="ri-arrow-down-s-line"></i>
                    </button>
                    <div class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="ri-user-line"></i>Profile</a></li>
                        <li><a class="dropdown-item" href="#"><i class="ri-settings-line"></i>Settings</a></li>
                        <li><a class="dropdown-item" href="#"><i class="ri-logout-box-line"></i>Logout</a></li>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
